.circle {
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  transform: rotate(-90deg);
  transform-origin: center;
  animation: stroke 5s linear reverse forwards;
}

@keyframes stroke {
  to {
    stroke-dashoffset: 1000;
  }
}
